<!DOCTYPE html>
<html lang="en">
<head>
  <title>Online Lecture Module</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand"><b>Lecture Schedule Dashboard</b></a>
    <form class="d-flex">
      <button class="btn btn-dark btn-lg"><a href ="/logout" class="text-light">Logout</a></button>
    </form>
  </div>
</nav>

<div class="container col-md-8 ">
<h3 class="mt-5">Hi {{user}}</h3><br>
       <h5>Welcome to the Lecture Dashboard</h5>
       
  <table class="table table-hover table table-bordered secondary mt-5" class="text-center">
    <thead class="text-center thead-light">
      <tr>
        <th>Serial No</th>
        <th>Course</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody class="text-center">
        {% for lec in lect_list %}
      <tr>
        <td>{{lec.id}}</td>
        <td>{{lec.course}}</td>
        <td>{{lec.date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>

